<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircularProgressBar" version="2.5.6403.13419" targetFramework="net461" />
  <package id="Core.Calendar" version="0.1.193" targetFramework="net461" />
  <package id="Core.Common" version="0.1.4" targetFramework="net461" />
  <package id="DDay.iCal" version="1.0.2.575" targetFramework="net461" />
  <package id="Dragablz" version="0.0.3.197" targetFramework="net461" />
  <package id="EasyTabs" version="1.3.3.0" targetFramework="net461" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net461" />
  <package id="PSC.Xamarin.Controls.TabControl" version="1.0.0" targetFramework="net461" />
  <package id="Win32Interop.Dwmapi" version="1.0.1" targetFramework="net461" />
  <package id="Win32Interop.Gdi32" version="1.0.1" targetFramework="net461" />
  <package id="Win32Interop.Kernel32" version="1.0.1" targetFramework="net461" />
  <package id="Win32Interop.User32" version="1.0.1" targetFramework="net461" />
  <package id="Win32Interop.Uxtheme" version="1.0.1" targetFramework="net461" />
  <package id="WinFormAnimation" version="1.5.6298.3372" targetFramework="net461" />
  <package id="WPFChromeTabsMVVM" version="1.2.9" targetFramework="net461" />
  <package id="Xam.Plugins.Forms.ProgressRing" version="0.1.2" targetFramework="net461" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="net461" />
</packages>